.dashboard-container {
	height: 100vh;
	background-color: #f7f9f7; /* Light background */
}
.daytrack {
	display: flex;
	flex-direction:column;
	background-color: #efe; 
	max-width: 800px;
	margin: auto;
	box-shadow: 5px 5px 5px;
	border-radius: 10px;
}
.day {
}
.up-time {
}
.activities {
}

