div {
	font-family: Verdana, Helvetica, sans-serif;
}
.container {
	background-color: snow;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);     
	grid-gap: 1.5rem;     
	padding: 2rem;     
    background-color: #dfd;     
}

.product {
	display:flex;
	flex-direction: column;
	height:600px;
	background-color: #efe; 
	box-shadow: 5px 5px 5px;
	border-radius: 10px;
}

.header {
	display:flex;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	height:100px;
}

.image {
	align-self: center;
	justify-self: center;
}

.body {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: snow;
	height:500px;
}


.footer {
	display:flex;
    background-color: whitesmoke;     
	font-size: 1.2rem;
	border-radius: 0px 0px 40px 40px;     
	justify-content: center;
	height:100px;
}
.description {
	padding:0px 20px 0px 20px;
}
@media (max-width: 768px) {
    .products {
        grid-template-columns: 1fr;
		width: 100%;
	}
}


