{% extends "products/_base.html" %}

{% block content %}
<div class="products">

{% for product in products %}
<div class="product">
  <div class="image">
  {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
  {% endif %}
  </div>
  <div class="header">
	  {{ product.name }} 
  </div>
  <div class="description">
	{{ product.description }}
  </div>
</div>
{% endfor %}

</div>
{% endblock %}
<div class="footer">
    {{ product.price_per_unit }}
    <span>&#8378;</span> / {{ product.unit }}
  </div>


